<ion-header>
  <ion-toolbar>
    <ion-title>verify-email-address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="justify-content-center align-items-center ion-padding"
             >

  <ion-card class="ion-margin">
    <ion-card-header>
      <ion-card-title class="text-center">¡Felicidades!</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>

      <h2 class="text-center mb-20px">
        Verifica tu cuenta ingresando a la dirección de email
        del registro y entrando en el enlace que se muestra en el correo
      </h2>
  
      <ion-button expand="block"
                  (click)="goToLogin()">
        Iniciar sesión
      </ion-button>  
    </ion-card-content>
  </ion-card>
</ion-content>
