<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <h2>
      Bienvenido Gianfranco!
    </h2>

    <div class="ion-padding"
         [formGroup]="linksForm"
         *ngIf="showLinkForm">

      <h3>
        Estos son tus enlaces
      </h3>
      
      <ion-select placeholder="Enlaces" formControlName="linkSelected">
        <ion-select-option *ngFor="let link of settingsService.linkSettingsList" 
                           value="{{link.linkName}}">{{link.linkName}}</ion-select-option>
      </ion-select>

    </div>



  </div>

</ion-content>
