
<ion-tabs [ngClass]="{'hide-tabs': !settingsService.showTabs}">
  
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="graphics">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="graphics">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Gráficos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="power-budget">
      <ion-icon name="flash-outline"></ion-icon>
      <ion-label>Potencia</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
